<!DOCTYPE html>
<html>
    {{> head}}
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        {{>header}}
        <div>
          {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>
